<ruby>

def delete_AutoHackBruteOs_workspaces()
	framework.db.workspaces.each do |workspace|
		if (workspace.name.include?(":") and workspace.name.include?("+") and workspace.name.include?("_"))
			run_single("workspace -d #{workspace.name}")
		end
	end
end

delete_AutoHackBruteOs_workspaces()
</ruby>